@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,400;1,500;1,700&display=swap');

/* reset code start */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    list-style-type: none;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 35rem;
    height: 23rem;
    border-radius: 0.6rem;
    padding: 1rem;
    box-shadow: 0.5rem 0.5rem 0.5rem #222, -0.5rem 0 0.5rem rgb(168, 37, 37);
    font-size: 1.2rem;
    transition: all 0.3s;
}

.card:hover {
    box-shadow: 1rem 1rem 1rem rgb(187, 21, 21), -2rem 0 2rem #222;
}

#babar {
    color: white;
    background-color: rgb(2, 160, 245);
}

#babar:hover {
    /* color: white; */
    background-color: rgba(245, 40, 145, 0.8);
}

.card-title {
    text-align: center;
    color: white;
    margin-bottom: 1rem;
}

.form-field {
    margin-bottom: 1rem;
}

input {
    border: none;
    border: 0.1rem solid;
    border-radius: 0.6rem;
    padding: 0.2rem;
    background-color: rgb(4, 117, 238);
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    width: 35%;
}

.button {
    display: flex;
    justify-content: flex-end;
    margin: 0 0.8rem 2rem 0;
}

#check {
    /* border: none; */
    border: 0.1rem solid;
    border-radius: 0.6rem;
    padding: 0.2rem;
    background-color: rgb(4, 117, 238);
    cursor: pointer;
    transition: 0.3s;
    font-size: 1.2rem;
}

#check:hover {
    background-color: white;
}

p {
    text-align: center;
    /* color: rgba(69, 198, 215, 0.8); */
}

#large-text {
    font-size: 1.5rem;
    color: rgba(69, 198, 215, 0.8);
}


/* reset code end */